@import '@stackone-ui/core/theming/output/base.css';
@import '@stackone-ui/core/theming/output/stackone-green.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background text-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
  input,
  textarea,
  select,
  button {
    @apply border-border;
  }
}
