@import '@stackone-ui/core/theming/output/base.css';
@import '@stackone-ui/core/theming/output/stackone-green.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  background-color: var(--color-background);
  color: var(--color-foreground);
}
